html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
:root {
    --main-color: #363E4D;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-style: italic;
    font-size: 10pt;
    line-height: 20pt;
    color: var(--main-color);
    max-width: 400px;
    padding: unset;
    margin: unset;
}
h2 {
    font-family: Roboto, sans-serif;
}
h3 {
    font-family: Roboto, sans-serif;
}
h4 {
    font-family: Roboto, sans-serif;
}
h5 {
    font-family: Roboto, sans-serif;
}
h6 {
    font-family: Roboto, sans-serif;
}
p {
    font-family: Roboto, sans-serif;
    font-size: 10pt;
    line-height: 20pt;
    color: var(--main-color);
    max-width: 400px;
    padding: unset;
    margin: unset;
}
body {
    font-family: Roboto, sans-serif;
    font-size: 10pt;
    margin: unset;
    padding: unset;
}
a {
    cursor: crosshair;
    font-size: 10pt;
    line-height: 20pt;
    color: var(--main-color);
    max-width: 400px;
    padding: unset;
    margin: unset;
}
button {
    cursor: crosshair;
    margin: unset;
    padding: unset;
    border: none;
    background-color: none;
    outline: none;
}

/* width */
::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #E6E6E5; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #363E4D; 
}

::-webkit-scrollbar-track-piece {
    border-left: 1px solid #E6E6E5
}

/* The nav menu */
.navbar {
    position: fixed;
    z-index: 2;
    margin: none;
    padding: none;
    top: 0px;
}
/* Nav links */
.navbar a {
    font-size: 10pt;
    color: var(--main-color);
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.rotate-contact {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg) translateX(61px);
    transform-origin: 60px 60px;
    z-index: 5;
}

.rotate-projects {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg) translateX(90px);
    transform-origin: 60px 60px;
    margin: none;
    padding: none;
    z-index: 3;
}

.subnavbtn {
    outline: none;
    border: none;
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 31px;
    white-space: pre;
    border-left: 1px solid;
    color: var(--main-color);
    padding: 8px;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    margin: none;
}
/* Format button links on hover */
.projects-target:hover .subnavbtn {
    background-color: var(--main-color);
    color: white;
    border-left: 1px solid;
    border-color: var(--main-color);
}
/* Format button links on hover */
.contact-target:hover .subnavbtn {
    background-color: var(--main-color);
    color: white;
    border-left: 1px solid;
    border-color: var(--main-color);
}
/* Display submenu on hover */
.contact-target:hover #contact {
    display: block;
}
/* Display submenu on hover */
.projects-target:hover #projects {
    display: block;
}
/*box overlapping the button*/
.projects-target, .contact-target {
    margin: none;
    position: fixed;
    padding: none;
    background-color: none;
    outline: none;
    z-index: 5;
}
/*box overlapping the button*/
.contact-target {
    top: 35px;
    height: 93px;
    left: 0px;
    width: 31px;
}
/*box overlapping the button*/
.projects-target {
    top: 129px;
    height: 64px;
    left: 0px;
    width: 31px;
}
/* Style subnav content (hover submenu) */
.subnav-content {
    display: none;
    position: fixed;
    top: -10px;
    padding-top: 10px;
    text-indent: 10px;
    margin-top: 10px;
    margin-left: 31px;
    font-size: 14px;
    color: var(--main-color);
    background: white;
    border-left: 1px solid var(--main-color);
    border-right: 1px solid var(--main-color);
    height: 200%;
    width: 250px;
    z-index: 5;
    line-height: 20pt;
    transition: width 600ms ease;
}
/* Style subnav links */
.subnav-content a {
    color: var(--main-color);
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: none;
    padding-right: 30px;
    margin: none;
    display: block;
    line-height: 10pt;
    text-align: left;
    text-indent: 0px;
}
/* Indent projects links */
.projects-target .subnav-content a {
    padding-left: 30px;
}
/* Format on hover */
.subnav-content a:hover {
    background-color: var(--main-color);
    color: white;
}

.navbar-background {
    position: fixed;
    width: 31px;
    height: 100%;
    top: 0px;
    border-right: 1px solid var(--main-color);
    background-color: none;
    z-index: 1;
}


/* End of Side-Nav, beginning of Portfolio elements*/


.portnav-top {
    position: fixed;
    background: white;
    left: 31px;
    top: 0px;
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
    width: 100%;
    z-index: 1;
    margin: -1px;
    margin-left: 1px;
}

.portnav-info {
    position: relative;
    display: inline-block;
    font-size: 10pt;
    top: 0px;
    padding: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    line-height: 20pt;
    margin-left: 0px;
    margin-right: -4px;
    margin-bottom: -1px;
    border: 1px solid var(--main-color);
    border-left: none;
    z-index: 2;
}

.portnav-next, .portnav-prev {
    position: fixed;
    padding: 0px;
    margin: 0px;
    left: 0px;
    top: 159px;
    height: 30px;
    stroke: var(--main-color);
    stroke-width: 1.5px;
    z-index: 2;
    border-bottom: 1px solid var(--main-color);
}

.portnav-next {
    left: 0px;
    top: 159px;
}

.portnav-prev {
    left: 0px;
    top: 189px;
}

.portnav-i-symbol {   
    padding: 0px;
    margin: 0px;
    position: fixed;
    stroke: none;
    padding: 0px;
    background: none;
    border: none;
    margin: 0px;
    width: 31px;
    height: 30px;
    top: 220px;
    z-index: 2;
    border-bottom: 1px solid var(--main-color);
}

.portnav-i-symbol svg:hover {
    fill: white;
    stroke: none;
    stroke-width: 0px;
    border: none;
    outline: none;
}

.portnav-i-symbol-clicked {
    position: fixed;
    padding: 0px;
    margin: 0px;
    fill: white;
    stroke: none;
    background-color: var(--main-color);
    z-index: 2;
    outline: none;
}

.portnav-right-icons {
    position: fixed;
    display: inline-block;
    padding: 0;
    margin: 0;
    right: 5px;
    top: 0px;
    stroke: var(--main-color);
    stroke-width: 1.5px;
    z-index: 2;
}

.project-text {
    display: none;
    overflow: scroll;
    position: absolute;
    background: white;
    border: 1px solid var(--main-color);
    padding: 30px;
    overflow-x: hidden;
    margin-right: 30px;
    top: 90px;
    left: 90px;
    max-width: 900px;
    min-width: 300px;
    max-height: 80%;
}

.project-text-close {
    position: relative;
    display: block;
    background: white;
    height: 30px;
    width: 30px;
    border-left: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    padding: -1px;
    float: right;
    stroke: var(--main-color);
    stroke-width: 1.5px;
    z-index: 2;
    margin: -30px;
}

.portnav-left-icons svg:hover, .project-text-close svg:hover, .portnav-right-icons svg:hover {
    background-color: var(--main-color);
    stroke: white;
}

.slideshow-container {
    height: 85vh;
    margin-top: 30px;
    margin-left: 60px;
}

.portimg {
    max-width: 90%;
    max-height: 85vh;
    margin: none;
    padding: none;
}

.numbertext {
    position: fixed;
    color: var(--main-color);
    font-size: 10pt;
    position: absolute;
    right: 40px;
    top: 7px;
    z-index: 1;
    padding: 0px;
    margin: 0px;
}

.prev, .next {
    position: inherit
}

@media screen and (max-width: 620px) {
    .slideshow-container {
        margin-top: 90px;
    }
}